build/
dist/
nbproject/private/
debugTest.txt

*.properties

nbproject/UPDATED.TXT

nbproject/project.properties

nbproject/jfx-impl.xml

nbproject/jfx-impl_backup_6.xml

nbproject/build-impl.xml

nbproject/genfiles.properties

nbproject/jfx-impl_backup_5.xml

roject/jfx-impl.xml

nbproject/jfx-impl_backup_6.xml

nbproject/jfx-impl_backup_6.xml

roject/jfx-impl.xml

nbproject/jfx-impl_backup_7.xml

nbproject/jfx-impl_backup_8.xml
