
# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear

nbproject/UPDATED.TXT
nbproject/jfx-impl.xml
nbproject/genfiles.properties
nbproject/build-impl.xml

*.bak
/nbproject/jfx-impl_backup_1.xml
/nbproject/jfx-impl_backup_2.xml
/nbproject/jfx-impl_backup_3.xml
