build/
dist/
nbproject/private/
debugTest.txt
nbproject/jfx-impl_backup_*.xml

*.bak

nbproject/UPDATED.TXT

nbproject/jfx-impl.xml

nbproject/jfx-impl.xml

nbproject/jfx-impl_backup_18.xml

*.bak

src/tgfx/Main.fxml.bak

*.bak
