/* 
    Document   : new_main.css
    Created on : Aug 3, 2012, 5:41:35 PM
    Author     : ril3y
    Description:
        Purpose of the stylesheet follows.
*/

#motor1{
    -fx-background-image: url("background.jpg");
    -fx-padding: 10
    
}

#motor2{
    -fx-background-image: url("background.jpg");
    -fx-padding: 10
}
#motor3{
    -fx-background-image: url("background.jpg");
    -fx-padding: 10
}
#motor4{
    -fx-background-image: url("background.jpg");
    -fx-padding: 10
    
}
#motorTxt{
    -fx-text-fill: white;
}

#gcodeWindow {
    -fx-background-color: darkslategray;
}

#previewVbox{
   -fx-background-image: url("background.jpg");
}

#machineSettingsVbox{
    -fx-background-image: url("carbongcode.png");
}

#gcodeTabHbox{
/*     -fx-background-color:
        #090a0c,linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));*/
    -fx-background-image: url("carbon.png");

}

.button {
    -fx-background-color: #c3c4c4, linear-gradient(#d6d6d6 50%, white 100%),radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    
    -fx-padding: 5 22 5 22;  
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    
    
    /*
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
-fx-text-fill: #d8d8d8;
    */
}

.button:hover{
    -fx-background-color: #FF6600;
}

.button:pressed, .button:default:hover:pressed
{
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

.button:focused
{
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

#lblMachine{
    -fx-text-fill: white;
}



#lblAxis{
    -fx-text-fill: white;
}



.button:disabled, .button:default:disabled
{
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default
{
    -fx-background-color: #008287;
    -fx-text-fill: #ffffff;
}

.button:default:hover{
    -fx-background-color: #219297;
}


root { 
    display: block;
}

#srText {
    -fx-padding: 1 2 1 2;
    -fx-font-family: "Helvetica";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-overrun: clip;

    /*    -fx-background-color: #98424b;*/
}

#tgfxTitle{
    -fx-font-family: "Helvetica";
    -fx-font-size: 40px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    
}
#serialTitle{
    -fx-font-family: "Helvetica";
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: linear-gradient(white, #d0d0d0);
}
#settingsContent{
    
     -fx-background-image: url("carbon.png");
/*     -fx-background-color:
        #090a0c,linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));*/
}
#topMainTitle {
    
    -fx-background-image: url("carbon.png");
-fx-background-color:
        #090a0c,linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22);  /*,
        radial-gradient(center 80% 10%, radius 80%, rgba(255, 266, 266,0.9), rgba(255,255,255,0)); */

    
/*    -fx-background-color: hsl(0,0%,90%);
    -webkit-box-shadow: inset hsla(0,0%,15%,  1) 0  0px 0px 4px, 	 border 
        inset hsla(0,0%,15%, .8) 0 -1px 5px 4px, 	 soft SD 
        inset hsla(0,0%,0%, .25) 0 -1px 0px 7px,	 bottom SD 
	inset hsla(0,0%,100%,.7) 0  2px 1px 7px, 	 top HL 
        hsla(0,0%, 0%,.15) 0 -5px 6px 4px, 	 outer SD 
        hsla(0,0%,100%,.5) 0  5px 6px 4px;	 outer HL 	
	-webkit-transition: color .2s;*/
    
 
}

#droTitle {
    /*
        This is the Digital Readout Style
    */  
    -fx-background-radius: 9,8,5,4;
    -fx-padding: 5 10 5 10;
    -fx-font-family: "Helvetica";
    -fx-font-size: 54px;
    -fx-font-weight: bold;
    -fx-text-overrun: clip;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}


#dro {
    /*
        This is the Digital Readout Style
    */  
    -fx-background-color: white;
    -fx-background-radius: 9,8,5,4;
    -fx-padding: 5 10 5 10;
    -fx-font-family: "Helvetica";
    -fx-font-size: 54px;
    -fx-font-weight: bold;
    -fx-text-overrun: clip;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}
