/* 
    Document   : composer
    Created on : Feb 10, 2012, 5:13:49 PM
    Author     : ril3y
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#topLevel {
    -fx-background-color:
        #090a0c,linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
}


#path {
    -fx-stroke: 2;
}


#canvas{
    -fx-background-color: rgba(0,0,0,.7);
    /*        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
            linear-gradient(#20262b, #591d22),
            radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));*/
    -fx-background-radius: 10,10,10,10;
    -fx-padding: 50;
}

#testBox {
    -fx-padding:10;
}

#z{
    -fx-background-color: rgba(0,0,0,.7);
    /*        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
            linear-gradient(#20262b, #591d22),
            radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));*/
    -fx-background-radius: 10,10,10,10;
    -fx-padding: 50;
}

#z1{
    -fx-background-color: rgba(0,255,0,.7);
    /*        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
            linear-gradient(#20262b, #591d22),
            radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));*/
    -fx-background-radius: 10,10,10,10;
    -fx-padding: 50;
}

#z2{
    -fx-background-color: rgba(255,0,0,.7);
    /*        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
            linear-gradient(#20262b, #591d22),
            radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));*/
    -fx-background-radius: 10,10,10,10;
    -fx-padding: 50;
}




.bg {
    -fx-background-color:
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
}



#serialBox {
    -fx-padding: 15 10 15 10;
    -fx-background-color: #38424b;
}   

/*#####################Drawing 2d Line Colors########################*/

#traverseLine {
    -fx-stroke: #d0d0d0;
    -fx-stroke-width: 2;
}

#consoleBox {
    -fx-padding: 5 10 15 10;
    /*    -fx-background-color: #38424b;*/

} 

#test {
    -fx-alignment: "center";
}

#canvasSpacer {
    -fx-padding: 10;
    /*    -fx-background-color: #18424b;*/
}

#bottomConsoleHBox{
    -fx-padding: 15 15 15 15;
}

#srText {
    -fx-padding: 1 2 1 2;
    -fx-font-family: "Helvetica";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-overrun: clip;
    -fx-text-fill: linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%);
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
    /*    -fx-background-color: #98424b;*/
}

#motionModeHBox {
    -fx-padding: 25;
    /*    -fx-background-color: #98424b;*/
} 

#right{
    -fx-spacing: 10;
    -fx-padding: 10 10 10 10;
}

#left{

    -fx-padding: 20 10 10 10;
}

#path {
    -fx-stroke: rgb(255,255,255);
    -fx-stroke-width: 1;
}

#gcodeFile {
    -fx-spacing: 5;
}


#gp {
    /*    -fx-padding: 15 10 15 10;*/
}




/*
  Class for both rectangles
*/
.rect{
    -fx-fill:#f3f3f3;
    -fx-opacity:1;
    -fx-effect: dropshadow(two-pass-box , black, 5, 0.0 , 0, 1);
    -fx-arc-width: 20;
    -fx-arc-height: 20;
}
/*
  Class for both front Yellow rectangle
*/
.front-rect {
    -fx-effect: innershadow(two-pass-box , black, 7, 0 , 0,1);
    -fx-fill: linear-gradient(to bottom, derive(#fdffbb,0%), #fcea72) ;
}



#input_console {
    -fx-padding: 5 10 5 10;
}

#serialTitle{
    -fx-font-family: "Helvetica";
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: linear-gradient(white, #d0d0d0);
}

#cmdLabel {
    -fx-font-family: "Helvetica";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: linear-gradient(white, #d0d0d0);
}

#tgfxTitle{
    -fx-font-family: "Helvetica";
    -fx-font-size: 40px;
    -fx-font-weight: bold;
    -fx-text-fill: linear-gradient(white, #d0d0d0);
}

/*#ipad {
    -fx-background-color:
        #a6b5c9,
        linear-gradient(#303842 0%, #3e5577 20%, #375074 100%),
        linear-gradient(#768aa5 0%, #849cbb 5%, #5877a2 50%, #486a9a 51%, #4a6c9b 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 7 30 7 30;
    -fx-text-fill: #242d35;
    -fx-font-family: "Helvetica";
    -fx-font-size: 12px;
    -fx-text-fill: white;
}*/

#ipad {
    -fx-background-color:
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#b9b9b9 0%, #c2c2c2 20%, #afafaf 80%, #c8c8c8 100%),
        linear-gradient(#f5f5f5 0%, #dbdbdb 50%, #cacaca 51%, #d7d7d7 100%);
    /*    -fx-background-insets: 0,1,4,5;*/
    -fx-background-radius: 9,8,5,4;
    -fx-padding: 5 10 5 10;
    -fx-font-family: "Helvetica";
    -fx-font-size: 10px;
    -fx-font-weight: bold;
    -fx-text-overrun: clip;

    /*    -fx-text-fill: #333333;*/
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}


#bg {
    -fx-background-color:
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
}

#breakpoint {
    -fx-background-color:#EA2A15;
    -fx-font-weight: bold;
}

.currentLine {
    -fx-background-color: blue;
    -fx-font-weight: bold;
}

/*#breakpoint {
    -fx-background-color:#EA2A15;
}*/

#cancelBtn{
    -fx-background-color: red;
    -fx-text-fill: white;
}
#GcodeProgramTitle {

    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
}
#motorConfigTitle {
    -fx-font-family: "Arial";
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
#motorConfigText {
    -fx-font-family: "Arial";
    -fx-text-fill: black;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

#motor1 {
    -fx-background-color: darkgray ;
    -fx-padding: 5 10 5 10;
    -fx-background-radius: 10,10,10,10;;
}

#motor2 {
    -fx-background-color: darkgray ;
    -fx-padding: 5 10 5 10;
    -fx-background-radius: 10,10,10,10;
}

#motor3 {
    -fx-background-color: darkgray ;
    -fx-padding: 5 10 5 10;
    -fx-background-radius: 10,10,10,10;;
}

#motor4 {
    -fx-background-color: darkgray ;
    -fx-padding: 5 10 5 10;
    -fx-background-radius: 10,10,10,10;;
}

#configMotorHboxTop {
    -fx-padding: 5;
    
}
#MachineLogo {
    /*    -fx-image: "https://www.synthetos.com/blog/wp-content/themes/carrington-blog/img/grey.png";*/

}

#DoubleFrameConfigHBox {
    -fx-padding: 10;
}

#MachineSettingsHBox{
    -fx-background-color: white;
}

#ConfigurationLoaderConfigVBox {
    -fx-background-color: red;
}

#MotorsConfigVBox{
    -fx-padding: 20;
/*    -fx-background-color:blue;*/
} 

#MachineSettingVBox {
    -fx-background-color: linear-gradient(black, #38424b);
}


#center_left{
    -fx-padding:10;
}

#center_center{
    -fx-padding:10;
}
#bottom{
    -fx-padding:10;
    -fx-background-color: 
        linear-gradient(#20262b, #191d22),
        linear-gradient(white, #38424b);
}

#top{
    -fx-padding:10;
    -fx-background-color: linear-gradient(white, #38424b);
}

#gcodeControls{
    -fx-padding:10;
    -fx-background-color: linear-gradient(black, #38424b);
}


#gcProgramLine {

    -fx-background-color: #8a8a8a;
    -fx-padding: 5 10 5 10;
    -fx-font-family: "Helvetica";
    -fx-font-size: 9px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}

#gcProgramLine2 {
    -fx-background-color:
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
        linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
        linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%);

    -fx-padding: 5 10 5 10;
    -fx-font-family: "Helvetica";
    -fx-font-size: 10px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}


#gdcProgramLine Text {
    -fx-effect: dropshadow( one-pass-box , white , 0, 0.0 , 0 , 1 );
}

